/* MAIN */


body {
  color: #333;
}


.container-fluid {
  padding: 40px 8px;
  box-sizing: border-box;
}


/* UTILITIES */


.text-center {
  text-align: center;
}


/* LANDING */


.landing {
  height: 100vh;
  background-color: #E61E28;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav button {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #fff;
  color: #fff;
  margin: 0 4px;
}

nav button:hover {
  color: #333;
  border-color: #333;
}

nav button:focus {
  color: #333;
  border-color: #333;
}


/* DIVIDER */


.dividerLine {
  width: 1px;
  background-color: #ccc;
  height: 100%;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
}


.divider svg {
  width: 10px;
  height: 10px;
}

.divider circle {
  r: 4px;
  cy: 5px;
  cx: 5px;
  shape-rendering: geometricPrecision;
  fill: none;
  stroke: #ccc;
  stroke-width: 2;
}

.container-fluid.divider {
  padding: 0;
}


/* LINE GRAPH */

/* Svg */

#svgContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  cursor: grab;
  width: 100%;
  height: 70vh;
  cursor: -webkit-grab;
}

svg:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

#snapperPath {
  stroke: #E61E28;
  stroke-width: 1;
  fill: none;
}

.axisLabel {
  stroke-width: 0;
  font-family: 'Raleway';
}

.tick:nth-child(odd) text {
  visibility: hidden;
}

.grid path {
  stroke-width: 0;
}

.grid line {
  stroke-width: 1;
  stroke-dasharray: 3,4;
  stroke: lightgrey;
  stroke-opacity: 0.7;
}

/* Zoom Buttons */

.zoomButtonContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
}

.zoomButton {
  display: inline;
  font-size: 1.5em;
  margin: 0 16px;
  cursor: pointer;
}

.zoomButton:hover {
  font-size: 1.7em;
  color: #000;
}


/* DOMAIN */


.domain {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.domainText {
  display: block;
}


/* STATS */


.horizontalContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.statsDisplay {
  padding: 32px 8px;
}

.bigText {
  font-size: 5em;
  line-height: 1em;
  margin-bottom: 24px;
}


/* MEDIA QUERIES */


@media screen and (min-width:850px) {
  .horizontalContainer {
    flex-direction: row;
  }
  .statsDisplay {
    padding: 32px;
  }
  .container-fluid {
    padding:40px 64px;
  }
  .domainText {
    display: inline;
  }
}

@media screen and (min-width:500px) {
  .bigText {
    font-size: 8em;
  }
  .tick:nth-child(odd) text {
    visibility: visible;
  }
  #snapperPath {
    stroke-width: 3;
  }
  .divider circle {
    stroke-width: 1;
  }
}
