body {
  color: #333;
}

.zoomButtonContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0px;
  left: 0px;
}

.zoomButton {
  display: inline;
  font-size: 1.5em;
  margin: 0 16px;
  cursor: pointer;
}

.zoomButton:hover {
  font-size: 1.7em;
  color: #000;
}

.axisLabel {
  stroke-width: 0;
  font-family: 'Raleway';
}

.grid path {
  stroke-width: 0;
}

.grid line {
  stroke-width: 1;
  stroke: lightgrey;
  stroke-opacity: 0.7;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
}

.right-border {
  /*border-right: 1px solid #ccc;*/
}

.horizontalContainer {
  display: flex;
  flex-wrap: wrap;
}

.horizontalContainer div {
  flex: 1;
}

.divider svg {
  width: 10px;
  height: 10px;
}

.divider circle {
  r: 4px;
  cy: 5px;
  cx: 5px;
  shape-rendering: geometricPrecision;
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
}

.container-fluid.divider {
  padding: 0;
}

.domain {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.dividerLine {
  width: 1px;
  background-color: #ccc;
  height: 100%;
}

#snapperPath {
  stroke: #E61E28;
  stroke-width: 3;
  fill: none;
}

.bigText {
  font-size: 8em;
  line-height: 1em;
  margin-bottom: 24px;
}

#stop-map {
  height: 80vh;
  width: 100%;
}

#svgContainer {
  position: relative;
  width: 100%;
}

svg {
  cursor: grab;
  cursor: -webkit-grab;
}

svg:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.text-center {
  text-align: center;
}

.landing {
  height: 100vh;
  background-color: #E61E28;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav button {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #fff;
  color: #fff;
  margin: 0 4px;
}

nav button:hover {
  color: #333;
  border-color: #333;
}

nav button:focus {
  color: #333;
  border-color: #333;
}

.container-fluid {
  padding: 40px 64px;
  box-sizing: border-box;
}
